body {
  margin     : 0 auto;
  max-width  : 640px;
  height     : 100vh;
  padding    : 0 5%;
  display    : flex;
  align-items: center;
  box-sizing : border-box;
}

.container {
  width           : 100%;
  display         : block;
  padding         : 10%;
  background-color: var(--bg-container);
  border-radius   : 20px;
  border          : 3px solid var(--border-container);
  box-sizing      : border-box;
  transition      : background-color .2s ease-in-out, border-color .2s ease-in-out;
}

.hand-transition {
  transition: transform .2s ease-out;

}

.clock {
  position        : relative;
  padding-bottom  : 100%;
  border-radius   : 50%;
  background-color: var(--bg-clock);
  border          : 3px solid var(--border-clock);
  transition      : background-color .2s ease-in-out, border-color .2s ease-in-out;


  &__hand {

    position     : absolute;
    top          : 0;
    right        : 0;
    bottom       : 0;
    left         : 0;
    margin       : auto;
    border-radius: 10px;

    &--second {
      width : 1%;
      height: 80%;

      background-image: linear-gradient(var(--seconds-hand) 50%, transparent 50%);
      transform       : rotate(var(--deg-second-hand));
      z-index         : 10;

    }

    &--minute {
      width           : 2%;
      height          : 70%;
      background-image: linear-gradient(var(--minutes-hand) 50%, transparent 50%);
      transform       : rotate(var(--deg-minute-hand));
      z-index         : 20;
    }

    &--hour {
      width           : 3%;
      height          : 55%;
      background-image: linear-gradient(var(--hours-hand) 50%, transparent 50%);
      transform       : rotate(var(--deg-hour-hand));
      z-index         : 30;

      transition: background-image .2s ease-in-out;
    }
  }


  &__center,
  &__number {
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
    margin  : auto;
  }

  &__center {
    cursor          : pointer;
    width           : 7%;
    height          : 7%;
    border-radius   : 50%;
    background-color: var(--bg-center);
    border          : 2px solid var(--border-center);
    box-sizing      : border-box;
    z-index         : 40;
    animation       : doting 1s infinite;
  }

  &__number {
    font-size      : 1.8rem;
    width          : 10%;
    height         : 10%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : var(--number-color);
    font-family    : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: color .2s ease-in-out;


    &--1 {

      margin-top  : 8%;
      margin-right: 23%;
    }

    &--2 {

      margin-top  : 23%;
      margin-right: 8%;
    }

    &--3 {
      margin-right: 0;
    }

    &--4 {

      margin-bottom: 23%;
      margin-right : 8%;
    }

    &--5 {

      margin-bottom: 8%;
      margin-right : 23%;
    }

    &--6 {
      margin-bottom: 0;
    }

    &--7 {

      margin-bottom: 8%;
      margin-left  : 23%;
    }

    &--8 {

      margin-bottom: 23%;
      margin-left  : 8%;
    }

    &--9 {
      margin-left: 0;
    }

    &--10 {

      margin-top : 23%;
      margin-left: 8%;
    }

    &--11 {

      margin-top : 8%;
      margin-left: 23%;
    }


    &--12 {
      margin-top: 0;

    }
  }
}

.chk-mode {
  display: none;
}